@import "tailwindcss";
@import "../styles/theme-typography.css";
@import "../styles/theme-color.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roobert);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-sans);
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.bg-platform-gradient {
  background: radial-gradient(circle at bottom, rgba(147,210,255,0.22), white 75%);
}

.swiper-slide {
  width: auto !important;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}