/* Roobert Regular (400) */
@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert/Roobert-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roobert Medium (500) */
@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert/Roobert-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter (400) */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter (500) */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.woff2") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter Tight (400) */
@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight/InterTight-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Tight (500) */
@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight/InterTight-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4 theme mapping */
@theme {
  --font-roobert: "Roobert", ui-sans-serif, system-ui;
  --font-inter: "Inter", ui-sans-serif, system-ui;
  --font-intertight: "Inter Tight", ui-sans-serif, system-ui;
}

/* Custom Class */
@layer utilities {
  .font-roobert {
    font-family: var(--font-roobert);
  }
  .font-inter {
    font-family: var(--font-inter);
  }
  .font-intertight {
    font-family: var(--font-intertight);
  }
}